:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: black;
    color: white;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5rem 2rem 0;
}

.title-page {
    text-align: center;
    font-size: 3rem;
}

.btn {
    width: 8rem;
    padding: .5rem;
    border-radius: .5rem;
    border: none;
    cursor: pointer;
    margin-top: 1rem;
}

.advice {
    margin-top: 5rem;
    font-size: 1.2rem;
}
